#Python 3.10 to 3.12

streamlit==1.42.0 
plotly==5.24.1
gsw==3.6.20
pandas==2.3.3
cartopy==0.25.0
scikit-learn==1.8.0 # sklearn
scipy==1.11.4  
numpy==1.26.4
matplotlib==3.10.8
streamlit-plotly-events==0.0.6 
openpyxl==3.1.5
